.navigation{
    background-color: rgba(228, 244, 241, 1);
}

.login_buttons{
    color:white !important;
}

.btn{
    margin-left:10px;
    background-color: rgba(52, 184, 188, 1);
}


.access{
    margin-top: 50px;
    margin-left: 12px;
    vertical-align: bottom;
}
