/* .this-navbar li a{
    color:white;
}

.navbar-brand{
    color:white;
} */

.login_buttons{
    color:white !important;
}

.this-navbar{
    height: 80px;
}

.btn{
    margin-left:10px;
    background-color: rgba(52, 184, 188, 1);
}


.access{
    margin-top: 30px;
    margin-left: 12px;
    vertical-align: bottom;
}