<nav class="navbar navbar-expand-lg navbar-light this-navbar" style="background-color: rgba(228, 244, 241, 1);">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarScroll">
            <a class="navbar-brand"routerLink="/home">
                <img src= "../../assets/hamacaLogo-deftvo.webp" alt="" width="90" height="80">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse access" id="navbarScroll">
            <ul class="navbar-nav align-items-end me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" href="#">Destino</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Temática</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">Categoría</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#">País</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <button class="btn btn-sm login_buttons" type="button">Crear cuenta</button>
              <button class="btn btn-sm login_buttons" type="button">Iniciar sesión</button>
            </form>
          </div>
  </div>
</nav>
