.navigation{
    background-color: var(--azul-flojo);
}

.login_buttons{
    color:white !important;
}

.btn{
    margin-left:10px;
    background-color: var(--azul-medio);
}

.access{
    margin-top: 50px;
    margin-left: 12px;
    vertical-align: bottom;
}
