* {
  margin: 0;
  padding: 0;
}

.outer-container {
  font-family: "Inter-Medium", Helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #34b6bb;
  min-width: 294px;
}

.full-container {
  background-color: white;
  width: 90%;
  height: 80vh !important;
  max-width: 800px;
  border-radius: 2.5rem;
  display: flex;
  position: relative;
}

.bar-side {
  background-color: #e4f4f1;
  border-radius: 2.5rem 0 0 2.5rem ;
  position: relative;
}

.bar-side p {
  position: absolute;
  margin: 35px;
  color: #1f2243;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.logo-img {
  position: absolute;
  bottom: 60px;
  right: -80px;
  width: 300px;
}

.inner-container {
  margin: auto;
  width: 73%;
}

.h3 {
  text-align: center;
  margin-bottom: 40px;
  color: #000;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.custom-card {
  border: none;
  border-radius: 15px;
}

.custom-card-header {
  border-bottom: none;
}

.custom-card-body {
  border-top: none;
}

.card-header {
  display: flex;
  justify-content: center;
}

.custom-input {
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 8px;
}

.custom-input:focus {
  box-shadow: 0 0 0 0.25rem #e4f4f1;
  border: #34b6bb;
}

.btn-primary {
  border-color: transparent;
}

.custom-btn {
  background-color: #36b7bd;
  font-size: 0.8rem;
  border-radius: 10px;
  padding: 8px;
  width: 100%;
}

.custom-btn:active {
  background-color: #36b7bd;
  border: #34b6bb;
  opacity: 50%;
}

.btn-gmail {
  text-align: left;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #888787;
  font-size: 0.7rem;
  border-radius: 10px;
  padding: 8px 30px 8px 10px;
  overflow: hidden;
  position: relative;
}

.btn-gmail:active {
  opacity: 50%;
}

.btn-gmail img {
  width: 20px;
  object-fit: cover;
  margin-right: 10px;
}

.custom-text {
  margin-top: 8px;
  font-size: 0.8em;
}

.custom-text a {
  color: orange;
}

.bottom-text {
  color: #000;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 600;
}

@media only screen and (max-width: 760px) {
  .full-container {
    height: 90vh !important;
  }

  .bar-side {
    visibility: hidden;
  }

  .bar-side p {
    font-size: 1rem;
  }

  .logo-img {
    visibility: hidden;
  }

  .col-12,
  .col-sm-8,
  .col-sm-4,
  .col-md-3,
  .col-10,
  .col-9,
  .col-11 {
    width: 100%;
  }
}

@media only screen and (max-width: 760px) and (min-height: 740px) {
  .full-container {
    height: 90vh !important;
  }

  .logo-img {
    visibility: visible;
    width: 60%;
    left: 20%;
  }
}

@media only screen and (min-height: 740px) and (max-width: 844px) {
  .full-container {
    height: 90vh !important;
  }

  .logo-img {
    visibility: hidden;
  }
}

@media only screen and (min-height: 740px) {
  .full-container {
    height: 80vh !important;
  }
}

@media only screen and (min-height: 890px) {
  .logo-img {
    visibility: visible;
    width: 35%;
    left: 32%;
    top: -60px;
  }
}
