<div class="outer-container">
  <div class="row full-container">
    <div class="col-12 col-sm-4 bar-side">
      <p>
        "¡Prepárate para relajarte al máximo con nuestras ofertas de viaje en Hamaca!"
      </p>
      <img
        class="logo-img"
        src="../../assets/hamacaLogo-deftvo.webp"
        alt="Logo"
      />
    </div>
    <div class="col-12 col-sm-8 mt-5 custom-container">
      <div class="inner-container">
        <div class="container custom-container">
          <div class="row">
            <div class="col offset-md-3">
              <div class="card custom-card">
                <h3 class="h3">Crear cuenta</h3>
                <div class="card-body custom-card-body">
                  <form>
                    <div class="form-group mb-4">
                      <input
                        type="text"
                        placeholder="Nombre"
                        class="form-control custom-input"
                        id="username"
                        name="username"
                        required
                      />
                    </div>
                    <div class="form-group mb-4">
                      <input
                        type="text"
                        placeholder="E-mail"
                        class="form-control custom-input"
                        id="usermail"
                        name="usermail"
                        required
                      />
                    </div>
                    <div class="form-group mb-4">
                      <input
                        type="password"
                        placeholder="Contraseña"
                        class="form-control custom-input"
                        id="password"
                        name="password"
                        required
                      />
                    </div>
                    <button type="submit" class="btn btn-primary custom-btn">
                      Iniciar sesión
                    </button>
                    <p class="custom-text">
                      ¿Has olvidado tu contraseña?
                      <a href="#">Recuperar contraseña</a>
                    </p>
                  </form>
                  <div class="col-10">
                    <div
                      class="row d-flex align-items-center justify-content-center mt-5"
                    >
                      <div class="col-5"><hr /></div>
                      <div class="col-2 d-flex justify-content-center">o</div>
                      <div class="col-5"><hr /></div>
                    </div>
                  </div>
                  <div class="container mt-3 d-flex justify-content-center">
                    <button type="submit" class="btn btn-gmail">
                      <img src="../../assets/gmail.png" alt="Gmail" />Registrar
                      sesión con Gmail
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
