<div class="backgroundImgHome mt-5 p-5">
    <div class="container border rounded p-4 containerHeaderHome">
        <div class="row text-center mb-4">
            <h2 class="col-12">¿A donde te gustaría viajar?</h2>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-4">
                <div class="btnFiltro">
                    <div class="containerHeaderIconSearch gap-2">
                        <fa-icon class="homeCalendarIcon" [icon]="earth"></fa-icon>
                        <span class="centerItem">Destinos disponibles</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-4"> 
                <div class="btnFiltro">
                    <div class="containerHeaderIconSearch gap-2">
                        <fa-icon class="homeCalendarIcon" [icon]="calendar"></fa-icon>
                        <span class="centerItem">Entrada -> salida</span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-xl-4">
                <div class="btnFiltro">
                    <div class="containerHeaderIconSearch gap-2">
                        <fa-icon class="homeCalendarIcon" [icon]="persona"></fa-icon>
                        <span class="centerItem">2 Adultos 0 Niños 1 Habitación</span>
                    </div>
                </div>
            </div>
            <div class="col-12"> 
                <div class="btnFiltro btnSearch">
                    Buscar                
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row centerItem">
        <div class="col-9 col-lg-3 mt-4">
            <div class="filtroContainer rounded">
                <h3 class="text-center">Filtrar</h3>
                <div class="containerPrecios">
                    <p class="minWidthLabelPrecio">Precio Mínimo</p>
                    <input id=precioMin type="text" class="w-75">
                </div>
                <div class="containerPrecios">
                    <p class="minWidthLabelPrecio">Precio Máximo</p>
                    <input id=precioMax type="text" class="w-75">
                </div>                
                <div id="tematicasContainer">
                    <div class="mt-4">Temáticas</div>
                    @for (tematica of tematicas; track tematica.id) {
                        <div class="form-check">
                            <input class="form-check-input tematicaInput" type="checkbox" value="{{tematica.nombre}}">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{tematica.nombre}}
                            </label>
                        </div>
                    }
                </div>
                <div id="localidadesContainer">
                    <div class="mt-4">Localidades</div>
                    @for (localidad of localidades; track localidad.id) {
                        <div class="form-check">
                            <input class="form-check-input localidadInput" type="checkbox" value="{{localidad.nombre}}">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{localidad.nombre}}
                            </label>
                        </div>
                    }
                </div>
                <div id="paisesContainer">
                    <div class="mt-4">Paises</div>
                    @for (pais of paises; track pais.id) {
                        <div class="form-check">
                            <input class="form-check-input paisInput" type="checkbox" value="{{pais.nombre}}">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{pais.nombre}}
                            </label>
                        </div>
                    }
                </div>
                <div class="btn btn-sm btn-success mt-4" (click)="filterClick()" >
                    Buscar                
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9 mt-4">
            @for (chollo of chollos; track chollo.id) {
                <div class="m-2 cholloContainer rounded">
                    <div class="imgCholloContainer">
                        @if (chollo.imagen != null) {
                            <img class="imgChollo"src="https://content.buscounchollo.com/img/groups/26098/panoramica4.jpg?v=1702473143" alt="">
                        }@else {
                            <img class="imgChollo"src="" alt="">
                        }
                        <div class="cholloTimeExpiration">
                            <div class="cholloPrecio">
                                <div class="text-center precioText">
                                    <span class="precioFont">{{chollo.precioPersona}}€</span><br>
                                    /Pers.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <h2 class="link"(click)="clickChollo(chollo.id)">{{chollo.titulo}}</h2>
                        <p>{{chollo.descripcion}}</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
