.reservar{
    margin: 15px;
}

.information{
    background-color: rgba(228, 244, 241, 1);
}

.description, .location{
    position:relative;
    background-color: white;
    margin: 15px;
    padding: 3px;
    width: 65%;
    border-radius: 15px;
}

img{
    margin: 15px;
    border-radius: 10px;
}

.card{
    margin: 15px;
    width: 105vh;
}

.tag {
    position:absolute;
	top: 0;
	right: 0;
    background-color: rgba(255, 199, 0, 1);
	height: 35px;
	width: 130px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 20px;
    font-size: large;
}

.date-tag{
    position: absolute;
	bottom: 0;
	right: 0;
    background-color: rgb(255, 156, 156);
    height: 28px;
	width: 180px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 15px;
    font-size: small;
}

.tag-text{
    rotate: -7deg;
}